# Example

## Survey questions

1. How satisfied are you with this learning?
       1. Extremely satisfied
       2. Satisfied
       3. Not sure
       4. Not satisfied
       5. Not at all satisfied
       
2. Do you think this learning will help you perform in your role from now on?
       1. Yes, extremely
       2. Yes
       3. Not sure
       4. No
       5. Not at all
       
3. Do you think you achieve the aims of this learning?
       1. Yes, definitely
       2. Yes
       3. Not sure
       4. No
       5. Not at all
       
4. Do you think the learning materials were appropriate to help you achieve the learning aims?
       1. Yes, definitely
       2. Yes
       3. Not sure
       4. No
       5. Not at all
       
5. Do you think the instruction/faciliation was appropriate to help you achieve the learning aims?
       1. Yes, definitely
       2. Yes
       3. Not sure
       4. No
       5. Not at all

## Survey format

In [4]:
import pandas as pd
 
# initialize list of lists
data = [[5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5], [5, 5, 5, 5, 5]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Satisfaction', 'Value', 'Aim achievement', 'Content quality', 'Instruction quality'], 
                 index = ['Participant 1', 'Participant 2', 'Participant 3', 'Participant 4', 'Participant 5'])
df

,Satisfaction,Value,Aim achievement,Content quality,Instruction quality
Participant 1,5,5,5,5,5
Participant 2,5,5,5,5,5
Participant 3,5,5,5,5,5
Participant 4,5,5,5,5,5
Participant 5,5,5,5,5,5